In [12]:
students  = {
    "name":"mark","age":20,"gender":"male"
}
print(students)

{'name': 'mark', 'age': 20, 'gender': 'male'}

In [3]:
print(students.keys())

dict_keys(['name', 'age', 'gender'])

In [4]:
students.values()

dict_values(['mark', 20, 'male'])

In [5]:
students.items()

dict_items([('name', 'mark'), ('age', 20), ('gender', 'male')])

In [17]:
students  = {
    "name":"mark","age":20,"gender":"male"
}
student_clone = students.copy()
print(student_clone)
print("-"*20)
students["name"] = "john"
print(students)
print(student_clone)

{'name': 'mark', 'age': 20, 'gender': 'male'}
--------------------
{'name': 'john', 'age': 20, 'gender': 'male'}
{'name': 'mark', 'age': 20, 'gender': 'male'}

In [23]:
print(students.get("name"))
print(students.get("names"),"names not avaiablbe so give it None")

print(students.get('names',"N/A")) # here when name is not avaiable we can give default value

john
None names not avaiablbe so give it None
N/A

In [24]:
for i in students.keys():
    print(i)

name
age
gender

In [ ]:
for i in students.values():
    
    print(i)

john
20
male

In [ ]:
for i in students.items():
    print(i)

('name', 'john')
('age', 20)
('gender', 'male')

In [ ]:

students_data = [{
        "name": "Divya",
        "score": 50,
    },
    {
        "name": "Mantras",
        "score": 80
    },
    {
        "name": "john",
        "score": 44
    },
     {
        "name": "mark",
        "score": 86
    }
]
scores = []
for i in students_data:
    if "score" in i:
        scores.append(i["score"])
print(scores,type(scores))
scores.sort()
print(scores)

[50, 80, 44, 86] <class 'list'>
[44, 50, 80, 86]