In [3]:
set_data = set([1,2,3,4,5,3,2])
print(set_data)

{1, 2, 3, 4, 5}

In [ ]:
set_data = set()
print(set_data)
set_data.add(1)
set_data.add(1)
print(set_data)

set()
{1}

In [18]:
set_data = set([1,2,3,4,5,3,2])
print(set_data)
print('--'*10)
set_data.remove(1)
# set_data.remove(10) # get error value not present in set
print(set_data,"with remove")

print('--'*10)
set_data.discard(1)
print(set_data,"with discard")
print('--'*10)
set_data.discard(10) # it will not get eror if value not present in set
print(set_data,"with discard value which in not in set")

{1, 2, 3, 4, 5}
--------------------
{2, 3, 4, 5} with remove
--------------------
{2, 3, 4, 5} with discard
--------------------
{2, 3, 4, 5} with discard value which in not in set

In [ ]:
set_data = set([1,2,3,4,5,3,2])
print(set_data)
print('--'*10)
set_data.pop() # FIFO
print(set_data,"with pop")

set_data.clear()
print(set_data,"with clear")
print('--'*10)

{1, 2, 3, 4, 5}
--------------------
{2, 3, 4, 5} with pop
set() with clear
--------------------

In [1]:
set1 = {1,2,3,8}
set2 = {4,5,6,0}

set3 = set1.union(set2) # merge  in sorting
print(set3)

{0, 1, 2, 3, 4, 5, 6, 8}

In [ ]:
set1 = {1,2,3}
set2 = {4,5,6,3}
set3 = set1.intersection(set2) # retrun common  in sorting
print(set3)

In [ ]:
set1 = {1,2,3,5,4}
set2 = {4,5,6}
set1.intersection_update(set2) # retrun common elements and updte in set1  in sorting
print(set1)

In [ ]:
set1 = {1,2,3,5,4,8}
set2 = {4,5,6}
set3 = set1.difference(set2) 
print(set3)

In [ ]:
set1 = {1,2,3,5,4,8}
set2 = {4,5,6}
set1.difference_update(set2) 
print(set1)

In [ ]:
#symmetric_difference() or ^ - Returns a set with elements in either set, but not in both.
#Find unique items between two people.
a = {"Alice", "Bob"}
b = {"Bob", "Charlie"}
print(a.symmetric_difference(b))  # {'Alice', 'Charlie'}

In [ ]:
#issubset() - Checks if all elements of the set are in another set.
a = {"Alice", "Bob"}
b = {"Bob", "Charlie"}
print(a.issubset(b))  # False

#issuperset() - Checks if the set contains all elements of another set
print(b.issubset(a))  # True

In [ ]:
#issubset() - Checks if all elements of the set are in another set.
a = {"Alice", "Bob", "Charlie"}
b = {"Bob", "Charlie"}
print(a.issubset(b))  # False

#issuperset() - Checks if the set contains all elements of another set
print(b.issubset(a))  # True

In [ ]:
#issubset() - Checks if all elements of the set are in another set.
a = {"Alice", "Bob"}
b = {"Bob", "Charlie","Alice"}
print(a.issubset(b))  # False

#issuperset() - Checks if the set contains all elements of another set
print(b.issubset(a))  # True