#### Create a list of the first 20 positive integers. Print the list.

In [7]:
number = list(range(1,21))
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### Print the first, middle, and last elements of the list created in Assignment 1.

In [ ]:
first_number = number[0]
last_number = number[-1]    
middle_number = len(number)// 2  # length of number means 20 and 20/2 = 10 but it return in float so add // to get floor value
middle_number2 = int(len(number)/ 2)
print(first_number)
print("using // find middle index",middle_number, "middle find using int", middle_number2)
print(last_number)

1
10 middle find using int 10
20

#### Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [18]:
first_five = number[0:5]
print(first_five)
last_five = number[-5:]
print(last_five)
five_to_fifteen = number[4:15]
print(five_to_fifteen)

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

#### Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [22]:
squr_numbers = [i**2 for i in number if i <= 10]
print(squr_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [ ]:
even_numbers = [i for i in number if i % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [ ]:
numbers = [70,4,20,1,5,98,54,4,20]
print(numbers,"main list")
numbers.sort()
print(numbers,"soretd number")
numbers.sort(reverse=True)
print(numbers,"reverse sorted number")
new_list = list(set(numbers)) # uing set we remove duplocat thne convert in lists
print(new_list)

[70, 4, 20, 1, 5, 98, 54, 4, 20] main list
[1, 4, 4, 5, 20, 20, 54, 70, 98] soretd number
[98, 70, 54, 20, 20, 5, 4, 4, 1] reverse sorted number
[1, 98, 4, 5, 70, 20, 54]

#### Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [52]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(matrix[1][2])

6

#### 
Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [ ]:
students = [{
        "name": "Divya",
        "score": 50,
    },
    {
        "name": "Mantras",
        "score": 80
    },
    {
        "name": "john",
        "score": 44
    },
     {
        "name": "mark",
        "score": 86
    }
]
print(students)
# scores = sture

[{'name': 'Divya', 'score': 50}, {'name': 'Mantras', 'score': 80}, {'name': 'john', 'score': 44}, {'name': 'mark', 'score': 86}]

#### Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [75]:
def transpose_matrix(matrix):
    # Use list comprehension to transpose rows and columns
    return [[matrix[j][i] for j in range(3)] for i in range(3)]

# Original 3x3 matrix
original = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Get the transposed matrix
transposed = transpose_matrix(original)

# Print original matrix
print("Original Matrix:")
for row in original:
    print(row)

# Print transposed matrix
print("\nTransposed Matrix:")
for row in transposed:
    print(row)

Original Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Transposed Matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [80]:
l1 = {1,2,3}
print(3 in l1)
print(10 in l1)

True
False

In [83]:
set1 = {1,2,3,8}
set2 = {4,5,6,0}

set3 = set1.union(set2) # merge  in sorting
print(set3)

{0, 1, 2, 3, 4, 5, 6, 8}

In [ ]:
set1 = {1,2,3}
set2 = {4,5,6,3}
set3 = set1.intersection(set2) # retrun common  in sorting
print(set3)

{3}

In [ ]:
set1 = {1,2,3,5,4}
set2 = {4,5,6}
set1.intersection_update(set2) # retrun common elements and updte in set1  in sorting
print(set1)

{4, 5}

In [98]:
set1 = {1,2,3,5,4,8}
set2 = {4,5,6}
set3 = set1.difference(set2) 
print(set3)

{8, 1, 2, 3}

In [101]:
set1 = {1,2,3,5,4,8}
set2 = {4,5,6}
set1.difference_update(set2) 
print(set1)

{1, 2, 3, 8}

In [102]:
#symmetric_difference() or ^ - Returns a set with elements in either set, but not in both.
#Find unique items between two people.
a = {"Alice", "Bob"}
b = {"Bob", "Charlie"}
print(a.symmetric_difference(b))  # {'Alice', 'Charlie'}

{'Charlie', 'Alice'}

In [104]:
#issubset() - Checks if all elements of the set are in another set.
a = {"Alice", "Bob"}
b = {"Bob", "Charlie"}
print(a.issubset(b))  # False

#issuperset() - Checks if the set contains all elements of another set
print(b.issubset(a))  # True

False
False

In [105]:
#issubset() - Checks if all elements of the set are in another set.
a = {"Alice", "Bob", "Charlie"}
b = {"Bob", "Charlie"}
print(a.issubset(b))  # False

#issuperset() - Checks if the set contains all elements of another set
print(b.issubset(a))  # True

False
True

In [109]:
#issubset() - Checks if all elements of the set are in another set.
a = {"Alice", "Bob"}
b = {"Bob", "Charlie","Alice"}
print(a.issubset(b))  # False

#issuperset() - Checks if the set contains all elements of another set
print(b.issubset(a))  # True

True
False