#### Create a list of the first 20 positive integers. Print the list.

In [7]:
number = list(range(1,21))
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### Print the first, middle, and last elements of the list created in Assignment 1.

In [ ]:
first_number = number[0]
last_number = number[-1]    
middle_number = len(number)// 2  # length of number means 20 and 20/2 = 10 but it return in float so add // to get floor value
middle_number2 = int(len(number)/ 2)
print(first_number)
print("using // find middle index",middle_number, "middle find using int", middle_number2)
print(last_number)

1
10 middle find using int 10
20

#### Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [18]:
first_five = number[0:5]
print(first_five)
last_five = number[-5:]
print(last_five)
five_to_fifteen = number[4:15]
print(five_to_fifteen)

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

#### Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [22]:
squr_numbers = [i**2 for i in number if i <= 10]
print(squr_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [ ]:
even_numbers = [i for i in number if i % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [ ]:
numbers = [70,4,20,1,5,98,54,4,20]
print(numbers,"main list")
numbers.sort()
print(numbers,"soretd number")
numbers.sort(reverse=True)
print(numbers,"reverse sorted number")
new_list = list(set(numbers)) # uing set we remove duplocat thne convert in lists
print(new_list)

[70, 4, 20, 1, 5, 98, 54, 4, 20] main list
[1, 4, 4, 5, 20, 20, 54, 70, 98] soretd number
[98, 70, 54, 20, 20, 5, 4, 4, 1] reverse sorted number
[1, 98, 4, 5, 70, 20, 54]

#### Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [52]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(matrix[1][2])

6

#### 
Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [10]:

students_data = [{
        "name": "Divya",
        "score": 50,
    },
    {
        "name": "Mantras",
        "score": 80
    },
    {
        "name": "john",
        "score": 44
    },
     {
        "name": "mark",
        "score": 86
    }
]

def get_score(student):
    return student["score"]

students_data.sort(key=get_score, reverse=True) # we can also use thi stype of sorting in list

print(students_data)

[{'name': 'mark', 'score': 86}, {'name': 'Mantras', 'score': 80}, {'name': 'Divya', 'score': 50}, {'name': 'john', 'score': 44}]

#### Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [75]:
def transpose_matrix(matrix):
    # Use list comprehension to transpose rows and columns
    return [[matrix[j][i] for j in range(3)] for i in range(3)]

# Original 3x3 matrix
original = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Get the transposed matrix
transposed = transpose_matrix(original)

# Print original matrix
print("Original Matrix:")
for row in original:
    print(row)

# Print transposed matrix
print("\nTransposed Matrix:")
for row in transposed:
    print(row)

Original Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Transposed Matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [80]:
l1 = {1,2,3}
print(3 in l1)
print(10 in l1)

True
False

#### Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [7]:
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
new_list = []
for row in nested_list:
    for item in row:
        new_list.append(item)

flatten_list = [ j for i in nested_list for j in i]
print(new_list)
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [13]:
l1 = list(range(1, 11))
print(f"Original list: {l1}")
del l1[6]
del l1[4]
del l1[2] # delete on desc order first other wise index will be chnage for 4 and 6 if we delete 2 first
l1.insert(5, 99)
print(f"new list: {l1}")

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new list: [1, 2, 4, 5, 6, 7, 8, 9, 10]
new list: [1, 2, 5, 7, 8, 99, 9, 10]

#### Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [18]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [11,12,13,14,15,16,17,18,19,20]
l3 = zip(l1, l2)
print(list(l3))
print(list(zip(l1, l2)))

[(1, 11), (2, 12), (3, 13), (4, 14), (5, 15), (6, 16), (7, 17), (8, 18), (9, 19), (10, 20)]
[(1, 11), (2, 12), (3, 13), (4, 14), (5, 15), (6, 16), (7, 17), (8, 18), (9, 19), (10, 20)]

#### Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [24]:
l1 = [1,2,3,4,5,6,7,8,9,10]
reversed = l1[::-1]
print(reversed)  


#start: where to begin (default is start of list)
#stop: where to end (default is end of list)
#step: how much to move (a negative step means go backwards)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Write a function that rotates a list by n positions. Print the original and rotated lists.

In [25]:

#rotate_list(lst, n):
#Takes a list lst and an integer n
#Rotates the list left by n positions
def rotate_list(lst, n):
    return lst[n:] + lst[:n]
    #lst[n:] + lst[:n] → [3, 4, 5] + [1, 2] → [3, 4, 5, 1, 2]


original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_list(original_list, 2)
print(f"Original list: {original_list}")
print(f"Rotated list: {rotated_list}")

Original list: [1, 2, 3, 4, 5]
Rotated list: [3, 4, 5, 1, 2]

#### Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [27]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [11,5,13,14,15,16,17,18,19,89,90,2,3,4]

common =[i for i in l1 if i in l2]
print(common)

[2, 3, 4, 5]