##### Create a set with the first 10 positive integers. Print the set.

In [6]:
s1 = set(range(1,11))
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

##### Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [7]:
s1.add(11)
print(s1)
s1.pop()  # or s1.remove(1) 
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

##### Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [15]:
set1 = set(range(1, 6))
set2 = set(range(2, 11, 2))
print(set1, set2)
print(set1.union(set2),"union") # merge set1 and set2 and print unique elements
print(set1.intersection(set2),"intersection") # retrun common elements
print(set1.difference(set2),"difference") # retrun unique elements in set1
print(set2.difference(set1),"difference") # retrun unique elements in set2
print(set1.symmetric_difference(set2),"symmetric_difference") # retrun unique elements in set1 and set2

{1, 2, 3, 4, 5} {2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10} union
{2, 4} intersection
{1, 3, 5} difference
{8, 10, 6} difference
{1, 3, 5, 6, 8, 10} symmetric_difference

##### Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [17]:
s1 = set(range(1,11))
squre = { i**2 for i in s1}
print(squre)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

#### Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [19]:
even = { i for i in s1 if i%2 == 0}
print(even)

{2, 4, 6, 8, 10}

#### Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [ ]:
s1 = {1,2,1,2,4,1,3,12,3,2} # but it is already remove duplicate when we print it 
unique = set(s1) 
print(unique)

{1, 2, 3, 4, 12}

##### Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results

In [ ]:
s1 = set(range(1,6))
s2 = set(range(1,4))
print(s1,"s1")
print(s2,"s2")
print(s1.issubset(s2),"subset") 
print(s1.issuperset(s2),"issuperset")

{1, 2, 3, 4, 5} s1
{1, 2, 3} s2
False subset
True subset

##### Create a frozenset with the first 5 positive integers. Print the frozenset.

In [ ]:
# A frozenset is just like a regular set, but immutable â€” which means you can't change it after it's created.

s1 = frozenset(range(1,6))
print(s1)

frozenset({1, 2, 3, 4, 5})

#### Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [30]:
s1 = set(range(1,6))
l1 = list(s1)
print(l1,"lst")
l1.append(6)
print(l1)
s1 = set(l1)
print(s1,"set")

[1, 2, 3, 4, 5] lst
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6} set

#### Create a dictionary with set keys and integer values. Print the dictionary.

In [39]:
# dict = {
#     {1:2,3:4,5:6}:"abc",
#     {1:2,3:4,5:6}:"xyz"
# }
# print(dict)


d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

#### Create a set and iterate over the elements, printing each element.

In [40]:
s1 = set(range(1,6))
for i in s1:
    print(i)

1
2
3
4
5

#### Create a set and remove elements from it until it is empty. Print the set after each removal.

In [47]:
s1 = set(range(1,6))
while s1:
    s1.pop()
    print(s1)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

#### Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [57]:
s1 = set(range(1,6))

s2 = set(range(1,10))
print(s1)
print(s2)
s1.symmetric_difference_update(s2)
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{6, 7, 8, 9}

#### Create a set and test if certain elements are present in the set. Print the results.

In [58]:
s1 = set(range(1,6))
print(1 in s1)
print(6 in s1)

True
False

#### Create a set containing tuples, where each tuple contains two elements. Print the set.

In [59]:
s1 = {(1,2,3),(4,5,6),(7,8,9)}
print(s1)

{(7, 8, 9), (1, 2, 3), (4, 5, 6)}