##### Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
t1 = tuple(range(1,11))
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

##### Print the first, middle, and last elements of the tuple created in Assignment 1.

In [4]:
first = t1[0]
print(first)
# middle = int(len(t1) / 2)
middle = len(t1) // 2

print(middle)
last = t1[-1]
print(last)

1
5
10

##### Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [8]:
print(t1[0:3])
print(t1[-3:])
print(t1[1:5])

(1, 2, 3)
(8, 9, 10)
(2, 3, 4, 5)

##### Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [9]:
matrix = (
    [1,2,3],
    [4,5,6],
    [7,8,9]
)
print(matrix[1][2])

6

##### Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [10]:
t1 =(1,2,3)
t2 = (4,5,6)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6)

##### Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [21]:
t1 =(1,4,2,3,4,2,5,7,1,5,2,4)

number  = []
for i in t1:
    if t1.count(i) > 1 and i not in number:
        print(f" {i} : - {t1.count(i)}, and it's frist index is {t1.index(i)}")
        number.append(i)

 1 : - 2, and it's frist index is 0
 4 : - 3, and it's frist index is 1
 2 : - 3, and it's frist index is 2
 5 : - 2, and it's frist index is 6

##### Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [22]:
t1 = (1,2,3,4,5)
a,b,c,d,e = t1
print(a,b,c,d,e)

1 2 3 4 5

##### Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [25]:
l1 = list(range(1,5))
print(l1)
print(tuple(l1))

[1, 2, 3, 4]
(1, 2, 3, 4)

#### Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [26]:
t1 = ((1,2,3),(4,5,6),(7,8,9))
print(t1)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

##### Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [37]:
t1 = tuple(range(1,6))
l1 = list(t1)
print(l1)
l1.append(6)
t1 = tuple(l1)
print(l1)
print(t1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

#### Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [38]:
t1 = ('h','e','l','l','o')
print(''.join(t1))

hello

#### Create a dictionary with tuple keys and integer values. Print the dictionary.

In [43]:
t1 = {
    (1, 2): 2,
    (4, 5): 3,
    (7, 8): 4
}
print(t1)

{(1, 2): 2, (4, 5): 3, (7, 8): 4}

#### Create a nested tuple and iterate over the elements, printing each element.

In [46]:
t1 = ((1,2,3),(4,5,6),(7,8,9))
for i in t1:
    for j in i:
        print(j,end=" ")

1 2 3 4 5 6 7 8 9

#### Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [49]:
t1  = (1,3,2,4,5,2,3,4,6,23,2)
print(t1)
t1 = tuple(set(t1))
print(t1)

(1, 3, 2, 4, 5, 2, 3, 4, 6, 23, 2)
(1, 2, 3, 4, 5, 6, 23)

#### Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [51]:
def tuple_data(num):
    minimum = min(num)
    maximum = max(num)
    sum_tuple = sum(num)
    return minimum,maximum,sum_tuple

num = (1,2,3,4,5)
print(tuple_data(num))

(1, 5, 15)